{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Round {{ round_number }} out of {{ n_rounds }}.
        {% else %}
            Раунд {{ round_number }} из {{ n_rounds }}.
        {% endif %}


{% endblock %}

{% block content %}

{% if language == 1 %}

    <p>Players 1A and 1B have decided on their offers.</p>

    <p><strong>Computer chose Player 2{{ computer_choice }}.</strong></p>

{% else %}

    <p>Игроки 1A и 1B сделали свой выбор.</p>

    <p><strong>Компьютер выбрал Игрока 2{{ computer_choice }}.</strong></p>

{% endif %}

    <div>
        {% if language == 1 %}
            <button name="next">Next</button>
        {% else %}
            <button name="next">Дальше</button>
        {% endif %}
    </div>

{% endblock %}