{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Game 2.
        {% else %}
            Игра 2.
        {% endif %}


{% endblock %}

{% block content %}

        {% if language == 1 %}
            <p>
                Let us revert the roles now: if you were Player 1, you'll become Player 2 now, and vice versa.
                As before, you will be paid for one randomly chosen round. The conversion rate is 1 token = {{ rate_text }}.
            </p>
        {% else %}
            <p>
                Теперь давайте поменяем роли: если Вы были Игроком 1, Вы теперь будете Игроком 2, и наоборот.
                Как и раньше, оплачиваться будет только один случайно выбранный раунд. Оплата по курсу 1 жетон = {{ rate_text }}.
            </p>

        {% endif %}

    <div>
        {% if language == 1 %}
            <button name="next">Next</button>
        {% else %}
            <button name="next">Дальше</button>
        {% endif %}
    </div>

{% endblock %}