{% extends "global/Page.html" %}
{% load otree static %}
{% load otree otree_tools %}

{% block scripts %}
    <script>
    $(function () {
        $('.otree-modal-main-button').on('click',function(){
            if (typeof $('input[name=player_choice]:checked').val() === "undefined"){
                {% if language == 1 %}
                var msg = 'Please choose your partner';
                {% else %}
                var msg = 'Пожалуйста, выберите своего партнёра';
                {% endif %}
            }
            else {
                var choice = $('input[name=player_choice]:checked').val();
                if (choice=='A'){
                    var not_choice = 'B';
                } else {
                    var not_choice = 'A';
                }
                {% if language == 1 %}
                var msg = 'You chose Player 1' + choice + '. That means Player 1' + choice + ' offers to you and '
                            + 'Player 1' + not_choice + ' offers to Player 2{{ computer_choice_opposite }}. '
                            + 'On the next screen you will be asked to indicate the minimum '
                            + 'offer you would accept.';
                {% else %}
                var msg = 'Вы выбрали Игрока 1' + choice + '. Это означает, что Игрок 1' + choice + ' предлагает Вам, а '
                            + 'Игрок 1' + not_choice + ' предлагает Игроку 2{{ computer_choice_opposite }}. '
                            + 'На следующем экране Вас попросят указать минимально '
                            + 'приемлемое для Вас предложение.';
                {% endif %}
            }
            $('.otree-modal-message').text(msg);
        })
    })
    </script>
{% endblock %}

{% block title %}

        {% if language == 1 %}
            Round {{ round_number }} out of {{ n_rounds }}.
        {% else %}
            Раунд {{ round_number }} из {{ n_rounds }}.
        {% endif %}

{% endblock %}

{% block content %}

        {% if language == 1 %}
            <p>
                You are Player {{ role }}.
            </p>
        {% else %}
            <p>
                Вы Игрок {{ role }}.
            </p>
        {% endif %}

        {% formfield group.player_choice label = player_choice_label %}

    <div>
        {% if language == 1 %}
            {% confirm_button title='' yes_button='Submit' no_button='Change the choice' main_button='Submit' %}
        {% else %}
            {% confirm_button title='' yes_button='Подтвердить' no_button='Изменить выбор' main_button='Подтвердить' %}
        {% endif %}
    </div>

{% endblock %}