{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Survey. Part {{ part_num }}.
        {% else %}
            Опрос. Часть {{ part_num }}.
        {% endif %}


{% endblock %}

{% block content %}

    {% if language == 1 %}
        <p>
            In part {{ part_num }}, each question is a game where you have a counterpart.
            Therefore, for <strong>each</strong> question you will be randomly paired with another participant.
            One of you will be selected at random to be participant A;
            the other will be participant B.
            You will learn whether you are participant A or B prior to making any
            decision.
        </p>
        <p>
            You will observe how many tokens you earned after each question.
            At the end of part {{ part_num }} the computer randomly chooses one question for
            which you will be paid. The rate is 1 token = {{ rate_survey_text }}.
        </p>
    {% else %}
        <p>
            Вопросы в части {{ part_num }} опроса - это игры с двумя участниками.
            Поэтому перед <strong>каждой</strong> такой игрой всех участников поделят на пары случайным образом.
            В каждой паре один из участников будет участником A, а другой будет участником B.
            Вы узнаете, являетесь ли Вы участником A или B перед тем, как принимать какое-либо решение.
        </p>
        <p>
            В конце части {{ part_num }} компьютер выберет случайным образом один вопрос,
            и Вы получите деньги за этот вопрос по курсу
            1 жетон = {{ rate_survey_text }}.
        </p>
    {% endif %}

    <div>
        {% if language == 1 %}
            <button name="next">Next</button>
        {% else %}
            <button name="next">Дальше</button>
        {% endif %}
    </div>

{% endblock %}