{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        {% if language == 1 %}
            Survey. Part {{ part_num }}. Question {{ player.round_number }} of {{ Constants.num_rounds }}
        {% else %}
            Опрос. Часть {{ part_num }}. Вопрос {{ player.round_number }} из {{ Constants.num_rounds }}
        {% endif %}
{% endblock %}

{% block content %}

    {% if language == 1 %}
        <p>
            You are <strong>participant A</strong>. Now you have {{endowment}} tokens.
            How much will you send to participant B?
            Remember that before B receives this amount, it will be multiplied by {{ multiplier }}.
        </p>
    {% else %}
        <p>
            Вы <strong>участник A</strong>. У Вас есть {{endowment}} жетонов.
            Сколько Вы пошлёте участнику B?
            Помните, что перед тем, как B получит посланную ему сумму, она будет умножена на
            {{ multiplier }}.
        </p>
    {% endif %}

    {% formfield group.sent_amount label=question_label %}

    <div>
        {% if language == 1 %}
            <button name="next">See results</button>
        {% else %}
            <button name="next">Посмотреть результаты</button>
        {% endif %}
    </div>

{% endblock %}
