{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Game.
        {% else %}
            Игра.
        {% endif %}


{% endblock %}

{% block content %}

        {% if language == 1 %}
            <p>
                Now the actual game starts. You will be paid for one randomly chosen round using the conversion rate:
                1 token = {{ rate_text }}.
            </p>
        {% else %}
            <p>
                Теперь начинается сама игра. Оплачиваться будет только один случайно выбранный раунд по курсу:
                1 жетон = {{ rate_text }}.
            </p>

        {% endif %}

    <div>
        {% if language == 1 %}
            <button name="next">Next</button>
        {% else %}
            <button name="next">Дальше</button>
        {% endif %}
    </div>

{% endblock %}