{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ player.round_number }} of {{ num_rounds }}.
{% endblock %}

{% block content %}

{% if beta < 1 and beta > 0 %}
<p>You are the <strong>Buyer</strong> of type {{ type }}.</p>
{% else %}
<p>You are the <strong>Buyer</strong>.</p>
{% endif %}

<p>Parameters for this round:</p>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<p> $$c={{ cost }}$$</p>
{% if beta < 1 and beta > 0 %}
    <p>$$\beta={{ beta }}$$</p>
    <p>$$\theta_L={{ thetaL }}$$</p>
    <p>$$\theta_H={{ thetaH }}$$</p>
    {% if uL != 0 or uH != 0 %}
        <p>$$u_L={{ uL }}$$</p>
        <p>$$u_H={{ uH }}$$</p>
    {% endif %}
{% elif beta == 1 %}
    <p>$$\theta={{ thetaL }}$$</p>
    {% if uL != 0 %}
        <p>$$u_0={{ uL }}$$</p>
    {% endif %}
{% else %}
    <p>$$\theta={{ thetaH }}$$</p>
    {% if uH != 0 %}
        <p>$$u_0={{ uH }}$$</p>
    {% endif %}
{% endif %}

You are offered the following products:
<table class="table">
    <tr>
        <td>Product 1:</td>
        <td>p={{ p1 }},</td>
        <td>q={{ q1 }}</td>
    </tr>
    <tr>
        <td>Product 2: </td>
        <td>p={{ p2 }},</td>
        <td>q={{ q2 }}</td>
    </tr>
    <tr>
        <td>Product 3: </td>
        <td>p={{ p3 }},</td>
        <td>q={{ q3 }}</td>
    </tr>
    <tr>
        <td>Product 4: </td>
        <td>p={{ p4 }},</td>
        <td>q={{ q4 }}</td>
    </tr>
    <tr>
        <td>Product 5: </td>
        <td>p={{ p5 }},</td>
        <td>q={{ q5 }}</td>
    </tr>
</table>

{% formfields %}


    {% next_button %}

{% endblock %}
