{% load otree static %}

<div class="instructions well well-lg">

    <div class="panel-body">

        <p>
            В начале эксперимента все участники будут поделены на пары случайным образом. Всё будет анонимно:
            Вы не будете знать, кто Ваш партнёр, а Ваш партнёр не будет знать, кто Вы.
        </p>

        <p>
            В каждой паре у участников будут разные роли:
            один будет <strong>игрок 1</strong>, другой будет <strong>игрок 2</strong>.
            Роли будут распределены случайным образом.
            Вы узнаете Вашу роль в начале эксперимента.
            Ваша роль будет неизменной в течение всего эксперимента.
        </p>

        <p>
            Эксперимент состоит из трёх игр. Ещё раз, во всех трёх играх у Вас будет одна и та же роль.
            Однако Ваш партнёр будет выбираться <strong>случайным образом</strong> перед каждой игрой.
            Так как роли между играми не меняются, то Ваш партнёр будет выбираться из тех участников,
            у которых противоположная роль.
        </p>

        <p>
            В каждой игре у Вас с партнёром будет {{ endowment }} жетонов. Ваша задача: решить, как их поделить.
            Разница в играх состоит в правилах, которым вы должны следовать.
        </p>

        <h4 class="panel-sub-heading">
            Игра 1
        </h4>

        <p>
            Игрок 1 предлагает игроку 2 как поделить {{ endowment }} жетонов между двумя игроками.
            Это выглядит следующим образом. Игрок 1 выбирает целое число от 0 до {{ endowment }}.
            Это чило определяет, сколько жетонов игрок 1 прелагает игроку 2: если игрок 1 выбрает X жетонов,
            он подразумевает оставить {{ endowment }} - X жетонов себе.
        </p>

        <p>
            Пока игрок 1 решает, что предложить игроку 2, игрок 2 должен выбрать минимальное предложение,
            которое он примет. Это выглядит следующим образом. Игрок 2 выбирает целое число Y.
            Если предложение игрока 1 (X) больше или равно выбранному числу Y, то такое предложение принимается.
            Если же Y>X, то предложение отклоняется.
        </p>

        <p>
            Выигрыш в этой игре определяется следующим образом.
            Если предложение игрока 1 принимается игроком 2, то оно и реализуется:
            игрок 1 получает {{ endowment }} - X жетонов, игрок 2 получает X жетонов.
            Если ли же игрок 2 отказался от предложения игрока 1 (т.е. выбрал число больше предложенного игроком 1),
            то <strong>оба игрока получают {{ payoff_if_rejected }}</strong> жетонов за игру.
        </p>

        <p>
            Коротко: Игрок 1 делает предложение игроку 2. Игрок 2 принимает предложение или отказывается.
            В случае отказа оба получают {{ payoff_if_rejected }} жетонов.
        </p>

        <p>
            Когда все участники эксперимента сделали свой выбор в игре 1, начинается игра 2.
            Вы узнаете свой выигрыш в игре 1 только после окончания эксперимента, то есть после окончания игры 3.
        </p>

        <h4 class="panel-sub-heading">
            Игра 2
        </h4>

        <p>
            Так же, как и в игре 1, игрок 1 предлагает игроку 2 как поделить {{ endowment }} жетонов
            между двумя игроками.
        </p>

        <p>
            Однако в отличие от игры 1, игрок 2 ничего не выбирает в игре 2.
            Любое предложение игрока 1 <strong>принимается автоматически</strong>.
        </p>

        <p>
            Выигрыш в этой игре определяется полностью в соответствии с выбором игрока 1: когда игрок 1 выбирает X,
            игрок 1 получает {{ endowment }} - X жетонов, игрок 2 получает X жетонов.
        </p>

        <p>
            Когда все участники эксперимента в роли игрока 1 сделали свой выбор в игре 2, начинается игра 3.
            Вы узнаете свой выигрыш в игре 2 только после окончания эксперимента, то есть после окончания игры 3.
        </p>

        <h4 class="panel-sub-heading">
            Игра 3
        </h4>

        <p>
            Игрок 2 выбирает, какую игру дальше играть, игру 1 или игру 2.
        </p>

        <p>
            Если игрок 2 выбрал игру 1, на следующем экране его попросят указать минимальное предложение Y,
            на которое он согласен.
        </p>

        <p>
            Если игрок 2 выбрал игру 2, предложение игрока 1 принимается автоматически.
            Поэтому в этом случае игроку 2 больше ничего не надо выбирать.
        </p>

        <p>
            Пока игрок 2 решает, какую игру выбрать (и как отреагировать, если выбрана игра 1),
            игрок 1 должен решить сколько предлагать игроку 2 в каждой из двух возможных игр.
            Таким образом, игрок 1 должен выбрать два целых числа:
            сколько предложить игроку 2, если он выбрал игру 1 (X1); и сколько предложить игроку 2, если он выбрал игру 2 (X2).
        </p>

        <p>
            Выигрыш в этой игре определяется следующим образом. Если игрок 2 выбрал игру 1 и
            первое предложение игрока 1 принято игроком 2 (т.е. X1 больше или равно Y), то оно и реализуется:
            игрок 1 получает {{ endowment }} - X1 жетонов, игрок 2 получает X1 жетонов.
            Если игрок 2 выбрал игру 1 и игрок 2 отказался от первого предложения игрока 1 (т.е. X1 меньше Y),
            то оба игрока получают {{ payoff_if_rejected }} жетонов за игру.
            Если игрок 2 выбрал игру 2, то делёж происходит в соответствии со вторым предложением игрока 1:
            игрок 1 получает {{ endowment }} - X2 жетонов, игрок 2 получает X2 жетонов.
        </p>

        <p>
            Когда все участники эксперимента сделали свой выбор в игре 3, Вы узнаете свой выигрыш во всех трёх играх.
        </p>

        <h4 class="panel-sub-heading">
            Порядок проведения эксперимента
        </h4>

        <ol type="I">
            <li>
                После прочтения инструкции каждый участник эксперимента должен ответить на вопросы теста.
                Цель теста - убедиться, что все всё поняли. Не бойтесь ошибиться в тесте, ваш выигрыш абсолютно
                не зависит от того, на сколько вопросов в тесте Вы ответили правильно. Если Вы ошибётесь, программа
                Вас поправит и объяснит, почему ответ был неверным.
            </li>
            <li>
                Потом начинается сам эксперимент.
                <ol>
                    <li>
                        Вначале все участники будут поделены на пары случайным образом.
                        Вы <strong>не</strong> будете знать, кто с кем в паре.
                        Соответственно, Вы не будете знать, с кем в паре Вы сами.
                    </li>
                    <li>
                        Вы увидите свою роль: игрок 1 или игрок 2.
                        Ваша роль остаётся неизменной в течение всего эксперимента.
                    </li>
                    <li>
                        Начинается игра 1. В зависимости от Вашей роли:
                        <ul>
                            <li>
                                Игрок 1: Выберите, сколько предложить игроку 2.
                            </li>
                            <li>
                                Игрок 2: Выберите минимальное предложение, на которое Вы согласны.
                            </li>
                        </ul>
                        Вы узнаете свой выигрыш в игре 1 в конце эксперимента.
                    </li>
                    <li>
                        Начинается игра 2. Ваш партнёр выбирается случайным образом из тех участников,
                        у которых противоположная роль.
                    </li>
                    <li>
                        В зависимости от Вашей роли:
                        <ul>
                            <li>
                                Игрок 1: Выберите, сколько предложить игроку 2.
                            </li>
                            <li>
                                Игрок 2: Вам ничего не надо делать.
                            </li>
                        </ul>
                        Вы узнаете свой выигрыш в игре 2 в конце эксперимента.
                    </li>
                    <li>
                        Начинается игра 3. Ваш партнёр выбирается случайным образом из тех участников,
                        у которых противоположная роль.
                    </li>
                    <li>
                        В зависимости от Вашей роли:
                        <ul>
                            <li>
                                Игрок 1: Для каждой из двух игр выберите, сколько предложить игроку 2.
                            </li>
                            <li>
                                Игрок 2: Выберите игру: игра 1 или игра 2. Если Вы выбрали игру 1,
                                Вы также должны решить, как ответить на первое предложение игрока 1.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Вы увидите, сколько Вы получили в каждой из трёх игр.
                    </li>
                    <li>
                        Для каждого из участников, программа случайным образом выберет, какую из трёх игр взять для
                        оплаты (вероятность выбора каждой из трёх игр одинаковая). Другими словами, ровно одна из трёх
                        игр будет определять, сколько денег вы получите за эксперимент.
                    </li>
                </ol>
            </li>
            <li>
                После завершения эксперимента Вас попросят ответить ещё на несколько вопросов.
                Некоторые из этих вопросов также оплачиваются.
            </li>
        </ol>

        <h4 class="panel-sub-heading">
            Сколько денег Вы получите:
        </h4>

        <p>
            <center> {{ show_up_text }} +
            (количество жетонов, полученных в игре, выбранной программой для оплаты) * {{ rate_text }} +
            (количество жетонов, полученных после эксперимента во время опроса) * {{ rate_survey_text }} </center>
        </p>

    </div>
</div>