{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Quiz
        {% else %}
            Тест
        {% endif %}

{% endblock %}

{% block content %}

    {% formfields %}

    <div>
        {% if language == 1 %}
            <button name="next">Results of the quiz</button>
        {% else %}
            <button name="next">Результаты теста</button>
        {% endif %}
    </div>

<p>

</p>

    <h4>
        {% if language == 1 %}
            Instructions
        {% else %}
            Инструкция
        {% endif %}
    </h4>

    {% include instructions_template %}

{% endblock %}