{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Survey. Part 2
        {% else %}
            Опрос. Часть 2
        {% endif %}

{% endblock %}

{% block content %}

    {% include template %}

    {% formfields %}

    <div>
        {% if language == 1 %}
            <button name="next">See results</button>
        {% else %}
            <button name="next">Посмотреть результаты</button>
        {% endif %}
    </div>

{% endblock %}