{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Survey. Part 2
        {% else %}
            Опрос. Часть 2
        {% endif %}

{% endblock %}

{% block content %}

    {% if language == 1 %}
        <p>
            Part 2 of the survey contains questions that are unrelated to the experiment.
            Some of them are formulated in a way that implies some payment afterwards.
            Though you are not actually be paid for these questions, please provide your answer as if
            you were getting paid. You will observe how many tokens you would have earned after each question.
        </p>
    {% else %}
        <p>
            Вопросы во второй части опроса не связаны с самим экспериментом напрямую.
            Некоторые из них сформулированы так, как будто Вас ожидает выплата в конце.
            Хотя это и не так (мы не платим за эту часть опроса), пожалуйста, отвечайте так,
            как будто Вас действительно ожидает выплата. После каждого вопроса Вы увидите, сколько бы Вы заработали.
        </p>
    {% endif %}

    <div>
        {% if language == 1 %}
            <button name="next">Continue</button>
        {% else %}
            <button name="next">Продолжить</button>
        {% endif %}
    </div>

{% endblock %}