{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Survey. Part 2
        {% else %}
            Опрос. Часть 2
        {% endif %}

{% endblock %}

{% block content %}

    {% include template %}

    {% if language == 1 %}
        <p>
            Your total earnings so far is {{ player.survey2_total_payoff }} tokens.
        </p>
    {% else %}
        <p>
            Ваш общий выигрыш на данный момент составляет {{ player.survey2_total_payoff }} жетонов.
        </p>
    {% endif %}

    <div>
        {% if language == 1 %}
            <button name="next">Next question</button>
        {% else %}
            <button name="next">Следующий вопрос</button>
        {% endif %}
    </div>

{% endblock %}