{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Survey. Part {{ part_num }}. Question {{ player.round_number }} of {{ Constants.num_rounds }}
        {% else %}
            Опрос. Часть {{ part_num }}. Вопрос {{ player.round_number }} из {{ Constants.num_rounds }}
        {% endif %}

{% endblock %}

{% block content %}

    {% formfield player.submitted_answer label=player.question %}

    <div>
        {% if language == 1 %}
            <button name="next">Continue</button>
        {% else %}
            <button name="next">Продолжить</button>
        {% endif %}
    </div>

{% endblock %}
