{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Period 1.
{% endblock %}

{% block content %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<p>$$\text{There are {{ n_high }} Workers with }\theta={{ thetaH }}\text{ and {{ n_low }} Workers with }\theta={{ thetaL }}.$$</p>

<p>Please choose a tax scheme:</p>
<table class="table">
    <tr>
        <td>{% formfield player.income_1 label = "q1"%}</td>
        <td>{% formfield player.tax_1 label = "p(q1):"%}</td>
    </tr>
    <tr>
        <td>{% formfield player.income_2 label = "q2:"%}</td>
        <td>{% formfield player.tax_2 label = "p(q2):"%}</td>
    </tr>
</table>
<p>$$\text{For the rest of }q\geq 0\text{, tax }p(q)=q-\frac{q^2}{ {{ twice_thetaH }} }.$$</p>


{% next_button %}

{% endblock %}
