{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Survey. Part 4. Question {{ player.round_number }} of {{ Constants.num_rounds }}
        {% else %}
            Опрос. Часть 4. Вопрос {{ player.round_number }} из {{ Constants.num_rounds }}
        {% endif %}

{% endblock %}

{% block content %}

    {% if language == 1 %}
        <p>
            Now let's change one aspect of the experiment. In the following questions, describe how your decisions would
            have changed had you played a different game where
        </p>
    {% else %}
        <p>
            Теперь представьте, что Вы участвуйте в немного другом эксперименте.
            Этот эксперимент почти полностью повторяет тот, который только что закончился, за исключением всего
            одной модификации. Для каждой такой модификации расскажите, как бы изменились Ваши решения.
        </p>
    {% endif %}

    {% formfield player.submitted_answer label=player.question %}

    <div>
        {% if language == 1 %}
            <button name="next">Continue</button>
        {% else %}
            <button name="next">Продолжить</button>
        {% endif %}
    </div>

{% endblock %}
