{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if language == 1 %}
            Survey. Part 9. Question {{ player.round_number }} of {{ Constants.num_rounds }}
        {% else %}
            Опрос. Часть 9. Вопрос {{ player.round_number }} из {{ Constants.num_rounds }}
        {% endif %}

{% endblock %}

{% block content %}

    {% for field in form %}
        {% formfield field label = question_label %}
    {% endfor %}

    <div>
        {% if language == 1 %}
            <button name="next">Continue</button>
        {% else %}
            <button name="next">Продолжить</button>
        {% endif %}
    </div>

{% endblock %}
