{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ player.round_number }} of {{ num_rounds }}.
{% endblock %}

{% block content %}

<p>You are the <strong>Agent</strong>.</p>

<p>Parameters for this round:</p>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<p> $$\sigma_1={{ sigma1 }}, \quad \sigma_2={{ sigma2 }}, \quad \rho={{ rho }}$$</p>
<p> $$\kappa={{ kappa }}, \quad \eta={{ eta }}, \quad \gamma={{ gamma }}, \quad k={{ k }}$$</p>

<p>You are offered the following contract: $$\alpha_1={{ alpha1 }}, \quad \alpha_2={{ alpha2 }}, \quad \beta={{ beta }}.$$</p>

{% if accept %}
<p>You accepted the contract.</p>
{% endif %}

{% formfields %}


    {% next_button %}

{% endblock %}
