{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        {% if language == 1 %}
            Thank you
        {% else %}
            Спасибо
        {% endif %}
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            {% if language == 1 %}
                <p>Your payment is {{ payment }}</p>
                <p>Please remain seated until we pay you.</p>
            {% else %}
                <p>Ваш выигрыш {{ payment }}</p>
                <p>Пожалуйста, оставайтесь на месте и дождитесь оплаты.</p>
            {% endif %}
        </div>
    </div>


{% endblock %}

