{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        {% if language == 1 %}
            Survey. Part 8. Question {{ player.round_number }} of {{ Constants.num_rounds }}
        {% else %}
            Опрос. Часть 8. Вопрос {{ player.round_number }} из {{ Constants.num_rounds }}
        {% endif %}
{% endblock %}

{% block content %}

    {% if language == 1 %}
        <h6>Game rules</h6>
        <p>
            Participant A receives {{ endowment }} tokens; participant B receives nothing.
            Participant A can send some or all of his {{ endowment }} tokens to participant B.
            Before B receives this amount, it will be multiplied by {{ multiplier }}. Once B receives
            the tokens he can decide to send some or all of it to A.
        </p>
    {% else %}
        <h6>Правила игры</h6>
        <p>
            Участник A получит {{ endowment }} жетонов; участник B ничего не получит.
            Участник A может послать какую-то часть или все {{ endowment }} жетоны участнику B.
            Перед тем, как B получит посланную ему сумму, она будет умножена на {{ multiplier }}.
            Как только B получит жетоны, он может послать участнику A часть из них или все.
        </p>
    {% endif %}

    <div>
        {% if language == 1 %}
            <button name="next">Play the game</button>
        {% else %}
            <button name="next">Играть</button>
        {% endif %}
    </div>

{% endblock %}
