{% load otree static %}

<div class="instructions well well-lg">

    <div class="panel-body">

        <p>
            Добро пожаловать на эксперимент!
            Вам предстоит пройти {{ n_rounds }} раундов игры. У всех раундов одни и те же правила.
            В каждом раунде участники будут поделены случайным образом на группы из четырёх человек.
            Разделение на группы будет происходить анонимно: Вы не будете знать, кто ещё в Вашей группе,
            так же как и другие участники в Вашей группе не будут знать, кто Вы.
        </p>

        <p>
            В каждой группе у участников будут четыре разные роли:
            <strong>Игрок 1A</strong>, <strong>Игрок 1B</strong>,
            <strong>Игрок 2C</strong> и <strong>Игрок 2D</strong>.
            В дальнейшем мы будем говорить об Игроках 1A и 1B как об Игроке 1, а об Игроках 2C и 2D как об Игроке 2.
            В каждом раунде роли распределяются случайным образом.
            В начале каждого раунда Вы сначала узнаете свою роль, а уже потом начнёте игру.
        </p>

        <p>
            После каждого раунда состав групп будем меняться.
            Это означает, что в каждом новом раунде у Вас будут разные партнёры, к тому же Ваша роль может поменяться.
            Однако, если Вы были Игроком 1A или Игроком 1B в первом раунде, Вы останетесь в роли Игрока 1 (A
            или B) и <strong>никогда</strong> не будете Игроком 2C или Игроком 2D в последующих раундах.
            Аналогично, если Вы были Игроком 2C или Игроком 2D в первом раунде, Вы останетесь в роли Игрока 2 (C
            или D) и <strong>никогда</strong> не будете Игроком 1A или Игроком 1B в последующих раундах.
        </p>
        <p>
            Ниже приведены правила игры, одинаковые для каждого раунда.
        </p>

        <h4 class="panel-sub-heading">
            Правила игры.
        </h4>

        <p>
            Каждый раунд состоит из четырёх этапов.
        </p>


        <ol>
            <li>
                <p>
                    На первом этапе каждого раунда все участники, выступающие в роли Игрока 1 (A или B), получают
                    {{ endowment }} жетонов. Каждый из них должен выбрать сколько из {{ endowment }} жетонов
                    предложить Игроку 2 (C или D, позднее будет определено кому именно) из своей группы
                    (в неотрицательных целых числах, но не больше, чем {{ endowment }}). Остальное Игрок 1 оставляет
                    себе.
                    Решения Игроков 1 остаются скрытыми от других участников в течение всей игры.
                    Участники с ролью Игрока 2 (C и D) должны будут подождать, пока Игроки 1 сделают свой выбор.
                </p>
            </li>
            <li>
                <p>
                    На втором этапе каждого раунда компьютер случайным образом выбирает одного из участников с ролью
                    Игрока 2 (либо Игрока 2C, либо Игрока 2D), кому даёт право выбора своего партнёра с ролью Игрока 1
                    (Игрока 1A или Игрока 1B). Другой участник с ролью Игрока 2 автоматически получает
                    оставшегося Игрока 1 в качестве своего партнёра.
                </p>
                <p>
                    Если компьютер дал право выбора Игроку 2C, то
                    Игрок 2C выбирает своим партнёром либо Игрока 1A, либо Игрока 1B.
                    Игрок 2D тогда автоматически получает другого Игрока 1 в партнёры.
                    Таким образом, если Игрок 2C выбирает Игрока 1A, то Игрок 2D
                    получает Игрока 1B в партнёры.
                    Если же Игрок 2C выбирает Игрока 1B, то Игрок 2D
                    получает Игрока 1A в партнёры.
                </p>
                <p>
                    Если компьютер дал право выбора Игроку 2D, то
                    Игрок 2D выбирает своим партнёром либо Игрока 1A, либо Игрока 1B.
                    Игрок 2C тогда автоматически получает другого Игрока 1 в партнёры.
                    Таким образом, если Игрок 2D выбирает Игрока 1A, то Игрок 2C
                    получает Игрока 1B в партнёры.
                    Если же Игрок 2D выбирает Игрока 1B, то Игрок 2C
                    получает Игрока 1A в партнёры.
                </p>
                <p>
                    На этом этапе игры никто из Игроков 2 не будет знать решений, принятых Игроками 1A и 1B
                    на первом этапе игры.
                </p>
                <p>
                    В соответствии с процедурой, описанной выше, в конце второго этапа
                    четыре игрока в каждой группе будут поделены на пары.
                    Все четверо будут видеть, кто чей партнёр в паре.
                </p>

            </li>
            <li>
                <p>
                    На третьем этапе все участники, выступающие в роли Игрока 2 (C или D), должны выбрать
                    минимально предложение от своего партнёра Игрока 1, которое каждый из них готов принять
                    (в неотрицательных целых числах, но не больше, чем {{ endowment_plus_1 }}).
                </p>
                <p>
                    Как и раньше, на этом этапе игры никто из Игроков 2 не будет знать решений, принятых Игроками 1A и
                    1B на первом этапе игры.
                </p>
            </li>
            <li>
                <p>
                    Выигрыш в каждом раунде определяется для каждой пары в отдельности следующим образом.
                    Обозначим через <i>Предложение</i> сумму, которую предложил Игрок 1.
                    Обозначим через <i>МинПредложение</i> минимально приемлемое предложение, указанное Игроком 2.
                </p>
                <p>
                    Если <i>Предложение</i> Игрока 1 в паре <b>больше или равно</b> <i>МинПредложение</i> Игрока 2
                    в этой паре, тогда осуществляется делёж, предложенный Игроком 1:
                    Игрок 2 в этой паре получает <i>Предложение</i> жетонов,
                    а Игрок 1 получает {{ endowment }} - <i>Предложение</i> жетонов.
                </p>
                <p>
                    Если <i>Предложение</i> Игрока 1 в паре <b>меньше</b> <i>МинПредложение</i> Игрока 2
                    в этой паре, тогда делёж, предложенный Игроком 1, не осуществляется,
                    и оба игрока в этой паре получают {{ payoff_if_rejected }} жетонов.
                </p>
            </li>
        </ol>

        <p>
            После того, как эксперимент завершён, все игроки будут проинформированы в частном порядке о своём
            выигрыше в каждом раунде.
            Ровно один раунд будет выбран для оплаты (выбор осуществляется случайным образом).
            Каждому участнику будет выплачена сумма, эквивалентная его или её выигрышу в выбранном раунде
            в соответствии с объявленным заранее курсом жетона к рублю.
        </p>

        <p>
            После прочтения этой инструкции каждый из вас получит маленький тест, целью которого будет проверить,
            насколько хорошо вы поняли правила игры. Ваш выигрыш не зависит от правильности Ваших ответов.
            Однако, если Вы ответите неверно, Вас попросят ответить на тот же вопрос ещё раз.
        </p>
        <p>
            После завершения игры Вас попросят ответить ещё на несколько вопросов.
        </p>
        <p>
            Помимо того, что Вы заработайте <i>во время</i> эксперимента,
            Вам будет выплачено {{ show_up_text }} за участие.
        </p>

    </div>
</div>